<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:e="http://typo3.org/ns/TYPO3/CMS/Extbase/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div>
    Title: <f:form.textfield property="title" />
</div>

<div>
    <f:if condition="{item.files}">
        <ul>
            <f:for each="{item.files}" as="file">
                <div>
                    Existing Filename: {file.originalResource.name}
                </div>
                <div>
                    <e:form.deleteUpload property="files" fileReference="{file}" /> Delete file
                </div>
            </f:for>
        </ul>
    </f:if>
    <f:form.upload property="files" multiple="1" />
</div>

<div>
    <f:form.submit value="Save" />
</div>

</html>
